body {
    font-family: 'Lato';
    background: #F6F6F6;
    color: #3C3C3C;
    margin: 0 auto;
    width: 1440px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #FFFFFF;
    border-bottom: 1px solid #BDBDBD;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
}

.header__logo {
    margin-left: 135px;
}

.logo__img {
    display: block;
    width: 62px;
    height: 60px;
}

.logo__title {
    display: block;
}

.logo__title--link {
    font-family: 'Train One';
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-transform: uppercase;
    color: #282528;
}

.nav__list {
    display: flex;
    max-width: 417px;
}

.nav__item:not(:last-child) {
    margin-right: 30px;
}

.nav__item--link {
    font-weight: 600;
    text-transform: uppercase;
    color: #3C3C3C;
}

.header__link {
    font-size: 20px;
    line-height: 24px;
}

.nav__item--link:hover {
    color: #18B5DC;
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-right: 136px;
    width: 130px;
    height: 42px;
    border: 1px solid #3C3C3C;
    background-color: transparent;
    color: #3C3C3C;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

.btn:hover {
    background: #18B5DC;
    color: #FFFFFF;
    border: 1px solid #18B5DC;
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
}

/* main */

.wrapper {
    margin: 150px 135px;
}

.main__content {
    margin: 150px auto 60px;
    width: 570px;
    text-align: center;
}

.main__title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
}

.divider {
    width: 45px;
    height: 4px;
    background: #DDDBDB;
    margin: 20px auto 40px;
}

.main__subtitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1170px;
    height: 333px;
}

.item__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #282528;
    margin-top: 19px;
}

.item__job {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #646464;
}

.section__item {
    max-width: 270px;
    height: 333px;
}

.section__item:not(:last-child) {
    margin-right: 30px;
}

.section__item--photo {
    cursor: pointer;
    width: 100%;
    /* display: none; */
}

.section__item--photo:hover {
    display: none;

}

.section__item--photo:hover~.item__hover {
    display: flex;
}

.item__hover {
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 270px;
    background: #18B5DC;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    /* cursor: url() context-menu; */
}

.section__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 134px;
}

.social__img {
    display: block;
    width: 42px;
    height: 42px;
}

.social__img--color {
    display: none;
}

.social__img:hover {
    display: none;
}

.social__img:hover + .social__img--color {
    display: block;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
}

.footer__logo {
    margin-top: 40px;
}

.nav__list {
    margin: 28px auto;
}

.footer__link {
    font-size: 18px;
    line-height: 22px;
}

.social {
    margin-bottom: 40px;
}

.social__list {
    display: flex;
    justify-content: space-between;
    width: 250px;
}